* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.heading {
    background: transparent;
    color: #ff0000;
    text-align: justify;
    position: absolute;
    font-size: 30px;
    padding: 60px;
}

.header {
    background: url('img/img1.jpg') no-repeat center center/cover;
    height: 400px;
    position: relative;
    text-align: center;
    color: white;
}

.header .overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.header .btn {
    background: #ff0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.container-head {
    text-align: left;
    padding-right: 50%;
}

.about {
    background: #fff3e0;
    padding: 50px 0;
    text-align: center;
}

.about .container {
    width: 80%;
    margin: 0 auto;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2rem;
}

.about .emphasis {
    font-weight: bold;
    margin-top: 20px;
}

.products {
    background: #fff;
    padding: 50px 0;
}

.products .container {
    width: 80%;
    margin: 0 auto;
}

.products h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-around;
}

.product {
    text-align: center;
    max-width: 300px;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin: 15px 0;
}

.product .btn {
    background: #ff0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #4CAF50;
    
}

footer p {
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.container {
    width: 100%;
    padding: 70px 30px 20px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

.social-links a i {
    font-size: 20px;
    color: #4CAF50;
    opacity: 0.9;
}

.social-links a:hover {
    background-color: #333;
    color: #4CAF50;
    transition: 0.5s;
}
